* {
  font-family: Helvetica, Arial, sans-serif;
}

pre, code, tt{
  font-family: Courier, serif;
}

body {
  background: #ffffee;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}
td{
	border: 1px solid black;
	padding: 5px;
}
tr.base_example td{
	border-left:none;
	border-right:none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px;
	vertical-align:bottom;
}
tr.base_example td.separator{
	border: 1px solid black;
	padding: 5px;
}
tr.base_example td.digit{
	font-weight:bold;
	color: #ff0000
}
th {
	border: 1px solid black;
	padding: 5px;
	background: #fff0f0;
	text-align: left;
}

.num_base{
	color: #0000ff
}

.num_base sup{
	color: #000000
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;
}

#main h1 {
  font-size: 30px;
  line-height: 30px;
}

#main p {
  margin: 20px 0;
  
  font-size: 15px;
  
  line-height: 20px;
}

#main ul {
  margin: 20px;
}

#main li {
  list-style-type: square;

  font-size: 15px;
  
  line-height: 20px;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}
